* {
    color: red;
}

/*Вес- 0 Универсальный селектор, будут выбранны все элементы страницы с весом ниже*/

h1 {
    color: green;
}

/*Вес - 1 Селектор по названию тэга, будут выбраны все написанные тэги.*/

.classsel {
    color: blue;
}

/*Вес - 10 Селектор по классу, будут задействованы все элементы класса*/

#idtest {
    color: yellow;
}

/*Вес - 100 Селектор по id, будут задействован элемент по id*/

a[href="https://google.com"] {
    color: brown;
}

/*Вес - 11 Селектор по аттрибуту, будут задействованы все тэги с этим аттрибутом*/

dl dt {
    color: blueviolet;
}

/*Вес - 2 Контекстные селекторы, будут задействованы все выбранные тэги обернутые в родительский тэг*/

dl>dd {
    color: darkcyan;
}

/*Вес - 2 Дочерний селектор, подразумевает только первый потомок тэга*/

h2+h3 {
    color: darkorange;
}

/*Вес - 2 Последовательный сэлэктор, берем за первым - второй*/

a:hover {
    color: black;
}

/*Вес - 11 Селектор псевдокласса, селектор описывает состояние элемента при совершении над ним действия*/

#pseudotest::first-letter {
    font-size: 200px;
    color: magenta;
}

/*Вес 101
Селектор псевдоэлемента, дополнение к селектору для стилизации, список псевдоэлементов
first-letter
first-line
before
after
selection */